body {
    background-color: whitesmoke;
    text-align: center;
}


.crop{
    width: 33%;
    overflow: hidden;
}
.crop img{
    width: 180%;
    margin-left: -40%;
}
.side_by_side{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1rem;
}
.side_by_side img{
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

