body {
    background-color: #f7f5f2;
    text-align: center;
    color: #1e1e2f;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

#table{
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
}
th{
    background-color: #5b4b8a;
    border-style: solid;
    border-width: 1em 0.5em;
    padding: 10px 20px;
    border-color: #f7f5f2;
    border-radius: 1.5em;
    
}
td{
    background-color: #a78bfa;
    border-style: solid;
    border-width: 1em 0.5em;
    padding: 10px 20px;
    border-color: #f7f5f2;
    border-radius: 1.5em;
}
p{
    width: 60%;
    text-align: center;
}
nav{
    margin-top: 1em;
    margin-bottom: 2em;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.crop{
    width: 33%;
    overflow: hidden;
}
.crop img{
    width: 180%;
    margin-left: -40%;
}
.side_by_side{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1rem;
}
.side_by_side img{
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.2rem;
}

/* Menu */
ul {
    width: 80%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #5b4b8a;
    display: flex;
    justify-content: center;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover{
    background-color: #a78bfa;
}


